<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MokipointsDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Mokipoints.mdf;Initial Catalog=Mokipoints;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SMTP_HOST" value="smtp.gmail.com" />
    <add key="SMTP_PORT" value="587" />
    <add key="SMTP_USER" value="info.mokipoint@gmail.com" />
    <add key="SMTP_PASSWORD" value="zlulfkmovdcmdksa" />
    <add key="SMTP_FROM" value="info.mokipoint@gmail.com" />
    <add key="SMTP_SECURE" value="true" />
    <!-- Giphy API Key - Get your free API key from https://developers.giphy.com/ -->
    <add key="GIPHY_API_KEY" value="AL9Pxriz6tJ5jtRhbYCLRvtNdVd1z0LM" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="51200" executionTimeout="300" />
    <sessionState mode="InProc" timeout="30" cookieless="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="Error500.aspx">
      <error statusCode="400" redirect="Error400.aspx" />
      <error statusCode="404" redirect="Error404.aspx" />
      <error statusCode="500" redirect="Error500.aspx" />
    </customErrors>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

